*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(149, 124, 240);

}
#col{
    font-size: 20px;
    background: rgb(47, 255, 210);
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.3), 0 7px 20px 0px rgba(0,0,0,0.6);
    

}
#col>input{
    width: 100%;
    font-size: 13px;
    padding: 10px;
    margin: 10px 0px;
    outline: none;
    border: none;
    background: rgb(232, 240, 241);
    border-radius: 7px;
    text-align: end;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 14px;
}
#keys>button{
    width: 40px;
    font-size: 20px;
    height: 40px;
    border:none;
    outline: none;
    border-radius: 50%;
    background: rgb(231, 224, 224);
    box-shadow: 0 5px 7px 0px rgba(0,0,0,0.5),0 6px 10px 0px rgba(0,0,0,0.8);

}
#keys>button:hover{
    background: rgb(47, 255, 210);
}